// this is the place for your components / CSS

.navbar {
  min-height: $navbarHeight;
}

.pt-nav {
  padding-top: $navbarHeight
}

.product-dot {
  display: block;
  max-width: 100%;
  background: none;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  outline: none !important;
  padding: 0;
}

.product-dot-active {
  opacity: 1 !important;
}
//
//.product-dot:active,
//.product-dot:focus,
//.product-dot:target,
//.product-dot:active:focus {
//  opacity: 1;
//}